.acoustic{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &-text{
        margin:15px;
    }

    &-container{
        width: 90%;
        margin: 15px;
    }

    &-filters{
        width: 100%;
        display: flex;
        align-items: center;

        &-container{
            display: flex;
            align-items: center;
        }
    }

    &-products{
        width: 100%;
    }
}

.card {
  max-width: 400px;
}

.card-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
