<div class="acoustic">
    <h3 class="acoustic-text">Acoustic Guitars</h3>

    <div class="acoustic-container">
        <div class="acoustic-filters">
            <h3 class="acoustic-filters-text">Filters</h3>

            <div class="acoustic-filters-container">
                <mat-form-field class="form-field" appearance="outline">
                  <mat-label>Brand</mat-label>
                  <mat-select [(ngModel)]="selectedBrand" (ngModelChange)="filterProducts()">
                    <mat-option [value]="null">None</mat-option>
                    <mat-option *ngFor="let brand of brands" [value]="brand.id">{{brand.name}}</mat-option>
                  </mat-select>
                </mat-form-field>
        
                <!-- <div class="price-slider">
                  <mat-label>Min Price</mat-label>
                  <mat-slider
                    class="form-field"
                    min="200"
                    max="1000"
                    step="10"
                    value="minPrice"
                    (input)="onPriceChange($event)">
                  </mat-slider>
                  <div>
                    <span>Min: {{priceRange[0]}}</span>
                  </div>
                  <mat-label>Max Price</mat-label>
                  <mat-slider
                    class="form-field"
                    min="200"
                    max="1000"
                    step="10"
                    value="maxPrice"
                    (input)="onMaxPriceChange($event)">
                  </mat-slider>
                  <div>
                    <span>Max: {{priceRange[1]}}</span>
                  </div>
                </div> -->
            </div>
        </div>
    
        <div class="acoustic-products">
            <h3>Products</h3>
            <div class="acoustic-products-container">
                <mat-card class="card" *ngFor="let product of filteredProducts" (click)="goToProductDetails(product.id)">
                    <img mat-card-image class="product-photo" src="{{product.imageUrl}}" alt="Guitar photo">
                    <mat-card-content>
                        <h4>{{product.name}}</h4>
                        <p>&euro; {{product.price}}</p>
                    </mat-card-content>
                    <!-- <mat-card-actions>
                        <button mat-button>DETAILS</button>
                        <button mat-button>ADD TO CART</button>
                    </mat-card-actions> -->
                </mat-card>
            </div>
        </div>
    </div>
</div>
