<div class="acoustic">
    <h2 class="acoustic-text">Acoustic Guitars</h2>

    <div class="acoustic-container">
        <div class="acoustic-filters">
            <h3>Filters</h3>

            <div class="acoustic-filters-container">
                <mat-form-field appearance="outline">
                    <mat-label>Brand</mat-label>
                    <mat-select >
                        <!-- <mat-option>None</mat-option> -->
                        <mat-option *ngFor="let brand of brands" [value]="brand.id">{{brand.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Category</mat-label>
                    <mat-select >
                        <!-- <mat-option>None</mat-option> -->
                        <mat-option *ngFor="let category of categories" [value]="category.id">{{category.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <!-- <mat-form-field appearance="outline">
                    <mat-label>Price</mat-label>
                    <mat-select >
                        <mat-option>None</mat-option>
                    </mat-select>
                </mat-form-field> -->
            </div>
        </div>
    
        <div class="acoustic-products">
            <h3>Products</h3>
        </div>
    </div>
</div>
