<div class="acoustic">
    <h2 class="acoustic-text">Acoustic Guitars</h2>

    <div class="acoustic-container">
        <div class="acoustic-filters">
            <h3>Filters</h3>

            <div class="acoustic-filters-container">
                <mat-form-field>
                    <mat-label>Brand</mat-label>
                    <mat-select [(value)]="selected">
                        <mat-option>None</mat-option>
                        <mat-option value="option1">Option 1</mat-option>
                        <mat-option value="option2">Option 2</mat-option>
                        <mat-option value="option3">Option 3</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Category</mat-label>
                    <mat-select [(value)]="selected">
                        <mat-option>None</mat-option>
                        <mat-option value="option1">Option 1</mat-option>
                        <mat-option value="option2">Option 2</mat-option>
                        <mat-option value="option3">Option 3</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    
        <div class="acoustic-products">
            <h3>Products</h3>
        </div>
    </div>
</div>
