<mat-toolbar class="admin-navbar">
    <div routerLink="/" class="logo">
        <a class="logo-text">Melodiax Guitars</a>
    </div>
    <button mat-icon-button class="menu-toggle" (click)="toggleMenu()">
        <mat-icon>menu</mat-icon>
    </button>
    <div class="menu-items" [ngClass]="{ 'active': isMenuActive }">
        <div class="menu" [ngClass]="{ 'active': isMenuActive }">
            <ul class="menu-list">
                <li><a routerLink="/brands">Brands</a></li>
                <li><a routerLink="/products">Products</a></li>
                <li><a routerLink="/categories">Categories</a></li>
            </ul>
        </div>
        <div class="admin-actions" [ngClass]="{ 'active': isMenuActive }">
            <ul class="admin-actions-list">
                <li *ngIf="authService.isLoggedIn()">
                    <button mat-button class="logout-btn" (click)="logout()">Logout</button> 
                </li>
            </ul>
        </div>
    </div>
</mat-toolbar>