<div class="register">
    <form class="register-container">
        <p class="register-text">Register</p>
        <div class="register-field">
            <mat-form-field appearance="outline">
                <mat-label>First Name</mat-label>
                <input matInput>
              </mat-form-field>
        </div>
        <div class="register-field">
            <mat-form-field appearance="outline">
                <mat-label>Last Name</mat-label>
                <input matInput>
              </mat-form-field>
        </div>
        <div class="register-field">
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput>
              </mat-form-field>
        </div>
        <div class="register-field">
            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput>
              </mat-form-field>
        </div>
        <div class="register-field">
            <mat-form-field appearance="outline">
                <mat-label>Phone</mat-label>
                <input matInput>
              </mat-form-field>
        </div>
        <div class="register-field">
            <mat-form-field appearance="outline">
                <mat-label>Address</mat-label>
                <input matInput>
              </mat-form-field>
        </div>
        <div class="register-field">
            <mat-form-field appearance="outline">
                <mat-label>City</mat-label>
                <input matInput>
              </mat-form-field>
        </div>
        <div class="register-field">
            <mat-form-field appearance="outline">
                <mat-label>Country</mat-label>
                <input matInput>
              </mat-form-field>
        </div>
        <p class="register-question">
            Already have an account? 
            <a class="register-signin" routerLink="/login">SIGN IN</a>
        </p>
        <button mat-raised-button class="register-btn">Register</button>
    </form>
</div>